.banner{
 height: 400px;
    width: 1500px;

    
     
}
.img{
    height: 400px;
    width: 1200px;
 padding-left: 150px;
}
.contact-heading{
    position: relative;
    left: 550px;
    bottom: 50px;



}
.text1{
    font-size:25px ;
}
.text2{
    font-size:20px ;
}