body {
    padding: 0;
    margin: 0;
    background-color: bisque;

}

.banner-main-container {
    height: 550px;
    text-align: center;
}

.banner {
    height: 400px;
    filter: blur(2px);

}

.img {
    height: 500px;
    width: 1300px;
    border-radius: 10px;

    box-shadow: 2px 2px 10px 2px brown;

}

.contact-heading {
    position: relative;
    bottom: 230px;
}

.text1 {
    font-size: 35px;
    color: white;
    font-size: 50px;
}

.btn {
    background-color: black;
    padding: 10px 55px;
    color: white;
    border-radius: 15px;
    border: none;
}

.btn:hover {
    transition: 0.5S;
    color: aliceblue;
}

.main-container {
    height: 500px;
    width: 1500px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;


}

.card1 {
    background-color: white;
    height: 200px;
    width: 250px;
    box-shadow: 1px 1px 50px 3px #606060;
    margin: 20px;
    position: relative;
    padding-top: 50px;
    padding: 10px auto;
    border-radius: 10px;
}

.icon1 {
    background-color: white;
    height: 60px;
    border-radius: 50%;
    position: absolute;
    left: 90px;
    top: -10px;
    box-shadow: 1px 1px 10px 3px #606060
}

.book-text {
    font-size: 20px;
}

.section-last-second {
    display: block;
    text-align: center;
}

.request-section {
    background-color: white;
    height: 550px;
    width: 800px;
    border-radius: 10px;
    padding: 20px;
    justify-content: center;
    box-shadow: 2px 2px 10px 2px brown;
}

.iconman {
    height: 20px;
    font-size: 20px;
}

.man {
    font-size: 20px;
}

.book-text {
    font-size: 25px;
}

.section-last {
    display: flex;
    justify-content: center;
}